.button {
    --button-color: #40ba21;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    border: 1px solid var(--button-color);
    background: var(--button-color);
    cursor: pointer;
    transition: all 0.1s;
}

.button:hover {
    background: white;
    color: var(--button-color);
}

.button__big {
    padding: 12px 16px;
}